node_modules
.pnpm-store
.git
.github
.next
**/node_modules
**/.next
**/dist
logs
packages/message/logs
packages/world/logs
packages/source/dataset/opensource
Dockerfile*
docker-compose*.yml
*.log
yuiju.config.ts
yuiju.config.docker.ts
